<div class="row">
    <div class="col-12 offset-lg-2 col-lg-10">
        {% comment %}
        {% if paginate.pages > 1 %}
            {% include 'pagination' %}
        {% endif %}
        {% endcomment %}
        <div id="bc-sf-filter-bottom-pagination"></div>
    </div>
    <div class='col-12' id="bc-sf-filter-load-more"></div>
</div><!-- row -->