<div class="product-quickview-frame">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 mx-auto">
                <div class="frame-content">
                    <div class="frame-close">{% include 'icon-close' %}</div>
                    <div class="product-frame">
                    </div>
                </div><!-- frame-content -->
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- product-quickview-frame -->
<div class="product-quickview-overlay"></div>