 <section class="featured-products product-recently-viewed d-none" data-product-handle="{{product.handle}}" data-image-ratio="{{section.settings.recently_viewed_ratio}}" data-aos="fade-up">
    <div class="container">
		<div class="row justify-content-center featured-products-slick">
		</div><!-- row -->
	</div><!-- container -->
</section>