<div class="product-usp-container">
{% for block in section.blocks %}
    {% case block.type %}
    {% when 'usp' %}
    <div class="product-usp">
        <div class="product-usp-icon">
        {% if block.settings.link != blank %}
        <a href="{{block.settings.link}}">
        {% endif %}

            {% include block.settings.icon %}

        {% if block.settings.link != blank %}
        </a>
        {% endif %}
        </div><!-- product-usp-icon -->
        <div class="product-usp-content">
        
            {% if block.settings.link != blank %}
            <a href="{{block.settings.link}}">
            {% endif %}

            <span class="product-usp-title">{{block.settings.title}}</span>
            <span class="product-usp-subtitle">{{block.settings.sub_title}}</span>

            {% if block.settings.link != blank %}
            </a>
            {% endif %}

        </div><!-- product-usp-content -->
    </div><!-- product-usp-->
    {% endcase %}
{% endfor %}
</div><!-- product-usp-container -->