<div class="size-guide-frame">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="size-guide-container">
                    <h3>Size Guide <span class="size-guide-close">{% include 'icon-close' %}</span></h3>
                    <ul class="size-tabs d-flex">
                        <li class="active"><a href="#" class="btn btn-primary tops">Tops</a></li>
                        <li><a href="#" class="btn btn-primary jeans">Jeans</a></li>
                    </ul>
                    <div class="row">
                        <div class="col">
                            <div class="size-guide-tab size-guide-tops active">
                                {{pages.size-guide.content}}
                            </div>
                            <div class="size-guide-tab size-guide-jeans">
                                {{pages.size-guide.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- size-guide-container -->
<div class="size-guide-overlay"></div>