<div class="timeline-detail">
    <img src="{{ block.settings.image | img_url: '720x' }}" alt="{{ block.settings.image.alt }}" class="img-fluid">
    <p>{{block.settings.title}}</p>
</div><!-- timeline-detail -->