<div class="container-fluid py-3 py-md-5">
	<div class="row">
		<div class="col-12 text-center">{% include 'breadcrumbs' %}</div>
	</div><!-- row -->
</div><!-- container -->

<header class="page-header{% if section.settings.background %} image lazyload{%endif%}" {% if section.settings.background %} data-bgset="{% include 'responsive-bg-image', image: section.settings.background %}"{% endif %}>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 mb-3 text-center">
				<h1>{{ page.title }}</h1>
			</div>
		</div><!-- row -->
	</div>
</header>

<div class="container mb-5">
	<div class="row mt-3">
		<div class="col-12 ">
			<div class="rte mb-4 text-center">{{page.content}}</div>	
		</div>
		<div class="col-12 mt-3">
			<div class="customer-service-block-navigation">
				{% if linklists.customer-service != blank %}
				<ul>
				{% for link in linklists.customer-service.links %}
					<li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
                {% endif %}
			</div>
		</div>
	</div>
</div>