<div class="container mt-3 mt-5 text-center">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">{{ 'general.404.title' | t }}</h1>

			<div class="rte text-center">
			  {{ 'general.404.subtext_html' | t }}
			</div>
		</div>
	</div>
</div>