<div class="container-fluid py-3">
	<div class="row">
		<div class="col-12 text-v-small">{% include 'breadcrumbs' %}</div>
	</div><!-- row -->
</div><!-- container -->

<div class="container mt-5">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center mb-4 uppercase">{{ page.title }}</h1>
			<div class="rte">
			  {{ page.content }}
			</div>
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="linda-farrow" data-theme="lookbook_v2_5"></script><style>.fs-has-links::after {  padding: 5px 7.5px; background-color: #fff; color: rgba(0,0,0,0.8); content: "SHOP IT";  }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 1px }</style>
        </div>
    </div>
</div>